################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
project.lock.json
packages
bin/
obj/
/PokemonGo/RocketAPI/Proto/google/protobuf
/PokemonGo-UWP/null
/PokemonGo-UWP/Utils/BingKey.cs
/.vs/config/applicationhost.config
/PokemonGo-UWP/Utils/ApplicationKeys.cs
/PokemonGo-UWP/AppPackages/
/PokemonGo-UWP/BundleArtifacts/
*.suo
*.user
*.tss
/pokehash keys.txt
/interesting links for development.txt
